# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/airbnb_clone?schema=public"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Security
JWT_SECRET="your_super_secret_key_here"

# Server Configuration
PORT=5000

# Cloudinary (Optional for now)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
